<!DOCTYPE html>
<html lang="en">
<head>
    {%load static%}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/forms.css'%}">
    <link rel="stylesheet" href="{%static 'bootstrap/css/bootstrap.min.css'%}">
    <title>Table Information</title>
</head>
<style>

    .productImg {
        width: 300px;
        height: 300px;
        position: relative;
    }

</style>
<body>
  <div class="container mt-5">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    <div class="heading">
        <h1>Review the product</h1>
    </div>
    <div class="body">
        <div class="productImg">
            <img src="{%static 'assets/images/table2.png'%}" alt="" srcset="" style="width: 100%;">
        </div>
        <div class="productDesc">
            <h4>Belgium Wood Table</h4>
            <h5>Price: $200</h5>
            <button class="btn btn-primary">Add to Cart</button>
        </div>
        <hr>
        <div class="reviewArea">
          <form action="" method="POST" style="max-width: 600px;"> {% csrf_token %}
            {{form.as_p}}
            <input type="Submit" value="Submit Review" class="btn btn-primary">
            
          </form>
        </div>
        <div class="sentimentFeedback mt-3">
          <p>Your Review was {{output}}, thank you for you comment.</p>
        </div>
    </div>
  </div>
        
</body>
</html>